RewriteEngine on
RewriteCond %{HTTP_HOST} ^dianepeshlakai.com$ [NC,OR]
RewriteCond %{HTTP_HOST} ^www.dianepeshlakai.com$
RewriteCond %{REQUEST_URI} !public_html/
RewriteRule (.*) /public_html/$1 [L]

# for A Small Orange deployments only
# delete this if deploying to any other host
AddHandler application/x-httpd-php70 .php .php5 .php4 .php3