
/***
* Flexbox Sticky Footer
* http://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
***/

/*corrects IE min-height bug*/

body {
	margin: 0;
	overflow-x:hidden;

}

#about {
	font-family: 'Bree Serif', 'serif';
}

h4 {
	font-family: 'Bree Serif', 'serif';
}

section{
	padding: 100px 0;
}

.intro-message {
	text-align: center;
}

.about-block {
	flex: 1 0 auto;
}

.intro-header {
	background-image: url(../images/dev-web.jpg);
	padding: 300px 0;
	background-size: cover;
	height: 50%;
}


.container.form-wrap {
	margin-right: auto;
	margin-left: auto;
	padding: 100px 0;
}

.col-lg-12 {
	width: 100%;
}

