
/***
* Flexbox Sticky Footer
* http://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
***/

/*corrects IE min-height bug*/

/*corrects IE min-height bug*/
html { display: flex;}



body {
	margin: 0;
	overflow-x:hidden;
	width: 100%;

}
.navbar-inverse {
	font-family: 'Open Sans', sans-serif;
}


.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-brand:hover {
	color: lavender;
}

.title {
	font-size: medium;
	color: white;
}

#about {
	font-family: 'Open Sans', sans-serif;
	background-color: lavender;
}

.title-underline {
	border-top: 3px solid black;
	width: 80px;
	margin: 0 auto;
	margin-bottom: 30px;
}

.photo-container {
	display: flex;
}

.photoOfMe {
	margin: 0 auto;
}

.dianeImg {
	max-width: 3000px;
	max-height: 300px;
	text-align: center;
	}

.burtonImg {
	max-width: 300px;
	max-height: 500px;
}


h4 {
	font-family: 'Bree Serif', 'serif';
}

section{
	padding: 100px 0;
}

h2 {
	font-family: 'Lobster', cursive;
}

.intro-message {
	text-align: center;
}

.about-block {
	flex: 1 0 auto;
}

.intro-header {
	background-image: url(../images/dev-web.jpg);
	padding: 300px 0;
	background-size: cover;
	height: 50%;
}


.container.form-wrap {
	margin-right: auto;
	margin-left: auto;
	padding: 100px 0;
}



#services {
	background-color: darkgray;
	z-index: 2;

}
#service {
	background-color: darkgrey;

}
#service.row {
	display: flex;
}




.skills-flexbox {
	display: flex;
	margin: 50px auto 0;
	width: 32.3333%;


}

.secondSkill-flex {
	display: flex;
	margin: 50px auto 0;
	width: 32.3333%;

}


.col-lg-3 {
	width: 100%;

}

.fa-html5 {
	font-size: 4em;
}
.fa-css3 {
	font-size: 4em;
}

.fa-wordpress {
	font-size: 4em;
}

.html-box {
	max-width: 400px;
}

.php-box {
	font-family: 'Bangers', cursive;
	font-size: 4em;
}



.fa-database {
	font-size: 4em;
}

.devicon-javascript-plain {
	font-size: 4em;
}

.portfolio-item {
	background-size: 200px 0;

}
.devicon-cplusplus-plain {
	font-size: 4em;
}
.col-sm-6 {

	margin: 5% auto;
	width: 33.3333%;
}

.col-md-4 {
	 margin: 0 0 30px;
}

.ml-auto {
	margin-left: auto;
}
.mr-auto {
	margin-right: auto;
}
#services .portfolio-item .caption:hover {
	opacity: 1;
}

#services .portfolio-item .caption .caption-content {
	position: absolute;
	width: 100%;
	height: 20px;
	font-size: 20px;
	text-align: center;
	top: 50%;
	margin-top: -12px;
	color: white;
}

.fixed-bottom {
	background-color: black;
	background-size: cover;
	margin-bottom: auto;
	color: white;
}

